<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css">
		<title>404 Not Found</title>
	</head>
	<body class="bg-slate-100 font-mono text-zinc-500">
		<div class="m-auto my-8 max-w-lg">
			<div class="c-main-area flex flex-col justify-center ">
				<h3 class="text-4xl font-extrabold inline-flex items-center justify-center gap-3 text-zinc-500 hover:text-red-600 cursor-default transition duration-500">
					<svg class="w-10 h-10" viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g><path fill-rule="evenodd" clip-rule="evenodd" d="M7.91 3.23 3.23 7.913v-.01a.81.81 0 0 0-.23.57v7.054c0 .22.08.42.23.57L7.9 20.77c.15.15.36.23.57.23h7.06c.22 0 .42-.08.57-.23l4.67-4.673a.81.81 0 0 0 .23-.57V8.473c0-.22-.08-.42-.23-.57L16.1 3.23a.81.81 0 0 0-.57-.23H8.48c-.22 0-.42.08-.57.23ZM12 7a1 1 0 0 1 1 1v5a1 1 0 1 1-2 0V8a1 1 0 0 1 1-1Zm-1 9a1 1 0 0 1 1-1h.008a1 1 0 1 1 0 2H12a1 1 0 0 1-1-1Z" fill="currentColor"></path></g></svg>
					<span class="font-medium">404 Not Found</span>
				</h3>
				<hr class="my-4" />
				<p class="text-base text-center">We could not find what you were looking for, please try again.</p>
			</div>
		</div>
	</body>
</html>
