<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Note</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-slate-100 font-mono  text-zinc-500">
	<div class="m-auto my-8 max-w-fit">
        <div class="c-main-area">
            <div class="flex flex-col gap-3 items-center">
                <svg class="w-8 h-8" viewBox="0 0 24 24" fill="none" ><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 10V7C5.5 5.27609 6.18482 3.62279 7.40381 2.40381C8.62279 1.18482 10.2761 0.5 12 0.5C13.7239 0.5 15.3772 1.18482 16.5962 2.40381C17.8152 3.62279 18.5 5.27609 18.5 7V10H19C20.6569 10 22 11.3431 22 13V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V13C2 11.3431 3.34315 10 5 10H5.5ZM9.52513 4.52513C10.1815 3.86875 11.0717 3.5 12 3.5C12.9283 3.5 13.8185 3.86875 14.4749 4.52513C15.1313 5.1815 15.5 6.07174 15.5 7V10H8.5V7C8.5 6.07174 8.86875 5.1815 9.52513 4.52513Z" fill="currentColor"></path> </g></svg>
                <input class="c-input text-center placeholder:text-center" type="password" id="password" placeholder="Password">
                <button class="c-btn" id="login-btn">Login</button>
            </div>
        </div>
    </div>
    <script>
        const NOTE_SLUG = window.location.href.match(/\/([^\/]+)$/)[1];
        const passwordInput = document.getElementById('password');
        const loginBtn = document.getElementById('login-btn');

        loginBtn.onclick = function(){
            const password = passwordInput.value

            fetch('/api/note/login/' + NOTE_SLUG, {
                method: 'POST', 
                headers: { 'Content-Type': 'application/json' },
			    body: JSON.stringify({ password }),
            }).then(function (response) {
			if (response.ok) {
				window.location.href = '/' + NOTE_SLUG;
			} else {
				response.json().then(function (result) {
					alert(result.error);
				});
			}
		});

        }

    </script>
</body>
</html>